# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ADMIN\IdeaProjects\module2Week2Day2\BTTrienKhaiInterface'Resizeable'ChoCacLopHinhHoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
